{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}
{{- $signingkey := get . "signingkey" -}}
{{- if not $signingkey -}}
{{-   $signingkey = promptString "signing key" -}}
{{- end -}}
{{- $name := get . "name" -}}
{{- if not $name -}}
{{-   $name = promptString "name" -}}
{{- end -}}
{{- $editor:= get . "editor" -}}
{{- if not $editor -}}
{{-   $editor = promptString "editor" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  signingkey = {{ $signingkey | quote }}
  editor = {{ $editor | quote }}
