[hub]
	protocol = git
[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = {{ .signingkey }}
[core]
	editor = {{ .editor }}
[alias]
  pushf = push --force-with-lease
[push]
	default = upstream
[init]
	defaultBranch = main
[includeif "gitdir:~/workspace/pikto/"]
	path = ~/workspace/pikto/.gitconfig
