#!/bin/sh
sudo pacman -S --needed base-devel

# install yay
git clone https://aur.archlinux.org/yay.git {{ .workspaceDir }}/aur/yay
cd {{ .workspaceDir }}/aur/yay
makepkg -si

# install dependencies
yay -S --needed \
  alacritty \
  bat \
  cowsay \
  exa \
  fd \
  fortune-mod \
  fzy \
  rust-lolcat-git \
  xclip
